<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="CovidAirlinesEntities" connectionString="metadata=res://*/CovidAirlinesModel.csdl|res://*/CovidAirlinesModel.ssdl|res://*/CovidAirlinesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=CovidAirlines;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CovidAirlines.Properties.Settings.CovidAirlinesConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CovidAirlines;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>